[submodule "mscustomer_bank"]
	path = mscustomer_bank
	url = https://github.com/David110690/mscustomer_bank
[submodule "msproduct_bank"]
	path = msproduct_bank
	url = https://github.com/David110690/msproduct_bank
[submodule "msoperations_bank"]
	path = msoperations_bank
	url = https://github.com/David110690/msoperations_bank
[submodule "msmanage_bank"]
	path = msmanage_bank
	url = https://github.com/David110690/msmanage_bank
[submodule "eurekaserver"]
	path = eurekaserver
	url = https://github.com/David110690/eurekaserver
[submodule "configserver"]
	path = configserver
	url = https://github.com/David110690/configserver
